.idea/
.gradle/
.kotlin/
out/
local.properties
cells-sdk-kotlin.iml

sdk-openapi/bin/
sdk-openapi/build/

sdk-openapi-moshi/local.properties
sdk-openapi-moshi/bin
sdk-openapi-moshi/build


sdk-kotlin/bin/
sdk-kotlin/src/test/resources/targets/
sdk-kotlin/build/

